body{
    background-color:black;
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 500;
    
}

h2{
    color: rgb(199, 26, 26);
    font-weight: 400;
}

p{
    font-size: 18px;
    color: black;
}

img{
    width: 400px; /*height = altura, width= largura*/
    display: block;
    text-align: center;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 15px;
}

a{
    color: white;
}

div{
    background-color: wheat;
    width: 70%;
    margin: 20px auto; /*centraliza o elemento*/
}

a{
    display: block;
    text-align: center;
    color: black;
    text-decoration: none; /*tira o underline do link*/
    padding: 20px;
    border-radius: 20px;
    background-color: orangered;
}

#titulo{
    background-color: orangered;
    border-color: white;
}